# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# Compiled files
/out/
/classes/

# Maven
target/

# Gradle
.gradle/
build/

# Test reports
test-output/

# Other
*.log
*.swp

#.env
src/main/java/theater_management/.env
